*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 51em;
  height: 32em;

  margin: 40px 0 0 20px;
  border: 1px solid transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.square{
  flex-basis: 16px;
  height: 16px;
  background-color: white;
}

